.Toolbar {
    width: 100%;
    position:sticky;
    top: 0;
    left: 0;
    background-color: #FF3D3D;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    box-sizing:border-box;
    z-index:90;
    height: 65px;
    position: -webkit-sticky;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.034);
    transition: all 0.8s;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);

}
.toolbar nav{
    height:100%
}
.Logo{
    height:80%
}
@media (max-width: 900px){
    .Toolbar {
        width: 100%;
    
    } 
}
@media (max-width:499px){
    .DesktopOnly{
        display: none;
    }
}