.Contacts {
    position:relative;
    display: flex;
    height:50px;
    list-style:none;
    width:100%;
    background-color: white;
}

.Email {
    margin: 10px 0px;
    list-style:none;
    color: #FD2F6F;
    width:200px;
}
.Email1 {
    margin: 10px 0px;
    list-style:none;
    color: #FD2F6F;
 
}

.Tel {
    margin: 10px 10px 10px 0px;
    color: #FD2F6F;

    
}
.Tel1 {
    margin: 10px 0px;
    margin-left: 20px;
    color: #FD2F6F;
    margin-left: 20px;

    
}
.Register {
    list-style:none;

    color: rgb(22, 17, 17);
    width:fit-content;
}

.name-auth {
    margin: 10px 5px;
    /* border-right:2px solid rgb(247, 244, 244); */
    margin-left: 40%;
    display: flex;
    list-style:none;
    color: rgb(3, 108, 245);
    width:300px;
    height: fit-content;

}
::placeholder{
    font-size: 12px;
    color:#3e3e3e;
}
@media(max-width:1000px){
    .Contacts {
    position:relative;
    display: flex;
    height:50px;
    list-style:none;
    width:100%;
    background-color: rgb(117, 78, 27);
}

.Email {
    margin: 10px 0px;
    list-style:none;
    color: white;
    width:200px;
}
.Email1 {
    margin: 10px 0px;
    list-style:none;
    color: white;
 
}

.Tel {
    margin: 10px 10px 10px 0px;
    color: white;
    
}
.Tel1 {
    margin: 10px 0px;
    margin-left: 20px;
    color: white;
    margin-left: 20px;

    
}
.Register {
    list-style:none;

    color: rgb(22, 17, 17);
    width:fit-content;
}

.Register1 {
    list-style:none;
    margin: 10px 5px;
    color: rgb(255, 255, 255);
    width:fit-content;
}
.Login {
    margin: 10px 5px;
    border-right:2px solid rgb(247, 244, 244);
    margin-left: 40%;
    list-style:none;
    color: white;
    width:50px;
    height: fit-content;

}

}

@media (max-width: 900px) {
    .Contacts {
        display: none;
       
    }
    .Login{
        display: none;
    }
  }