
.container1 {
    display: flex;
    padding: 0px 40px;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: #ccc;
}

.titleContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 900;
    color:#000;

}

.bodyContainer {
    align-items: center;
    justify-content: center;
    width:400px;
    height: 500px; 
    margin: 40px 20px;
    background-color: whitesmoke;

}

.imageContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.imageContainer img {
    height: 25vh;
    margin-top: -30px;
}

.contentContainer {
    margin-top: 20px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.contentContainer h2 {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer h4 {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer p {
    font-size: 14px;
    width: 100%;
}

button{
    width: 40%;
    margin: 20px 20px;
    height: 30px;
    bottom: 0;
    background-color: rgb(181, 11, 11);
    /* cursor: pointer; */
}

.bodyContainer button{
    margin-top: 5px;
    margin-bottom: 60px;
}
.btn{
    cursor: pointer;
}

/*****News styles****/
.news__main__container{
 margin: 30px 0px 0px 50px;
 
}
.news__main__container h2{
    color: #555;
    text-align:left;
    text-transform: uppercase;
    font-size:40px;
    word-spacing: 2px;
    margin: 20px 0;
    letter-spacing: 1px;
    margin-bottom: 40px; 
}
.news__container{
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 20px;
    
}
.news__main__body{
   padding: 0px 20px;
   background-color: rgba(233, 233, 233, 0.226);
 
}
.news_right__side__bar{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position:fixed;
    right: 0;
    height: 100vh;
    overflow: scroll;
    z-index:1000;
    
    
}
.news_right__side__bar:not(:last-child){
   margin-bottom: 20px;
}

.lastest__news{
    margin-bottom: 20px;

}
.news__img{
    width:70%;
    height: 400px;
    
}